@import '../../stylesheets//palette.scss';

.MainBody {
  font-family: 'Jua', Arial, Helvetica, sans-serif;

  &-CategoryFrame {
    width: 100vw;
    height: 50px;
    background-color: green;
  }
}
