@import '../../stylesheets/palette.scss';

.loginPage {
  &-loginBox {
    width: 500px;
    height: 500px;
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Jua', Arial, Helvetica, sans-serif;

    font-size: 40px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    &-signLogin {
      display: flex;
      width: 200px;
      height: 30px;
      flex-direction: row;
      justify-content: space-around;

      &-signUp {
        display: none;
      }

      &-login {
        display: none;
      }

      &-signLabel {
        font-size: 20px;
        width: 80px;
        height: 30px;
        cursor: pointer;
      }
      &-loginLabel {
        font-size: 20px;
        width: 80px;
        height: 30px;
        cursor: pointer;
      }
    }

    &-id {
      margin-top: 20px;
      margin-bottom: -40px;
      height: 20px;
      border-radius: 0.5rem;
      border-width: 3px;
    }

    &-pw {
      height: 20px;
      border-radius: 0.5rem;
      border-width: 3px;
    }
  }

  &-signUpModal {
    position: absolute;
    color: black;
    display: flex;
    border: 1px solid black;
    border-radius: 0.5rem;
    flex-direction: column;
    justify-content: space-evenly;
    width: 300px;
    height: 500px;
    left: 50%;
    top: 50%;
    background-color: white;
    transform: translate(-50%, -50%);
    z-index: 3;
  }
}
