@import '../../stylesheets/palette.scss';

body {
  background-color: $whitegray;
}

.MainHeader {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 90px;
  &-university {
    position: relative;

    font-family: 'Jua', Arial, Helvetica, sans-serif;
    font-size: 50px;
    cursor: pointer;
  }

  &-searchBar {
    width: 250px;
    height: 50px;
    position: relative;
    margin-left: 10px;
    margin-top: 7px;
    font-family: inherit;
    font-weight: 700;
    font-size: 1.25rem;
    outline: none;
    background: transparent;
    border: 4px solid $color-chatbox;
    padding: 0.4rem;
    box-sizing: border-box;
  }

  &-logout {
    margin-top: 7px;
    position: relative;
    cursor: pointer;
  }

  &-myPage {
    margin-top: 7px;
    position: relative;
    cursor: pointer;
  }

  &__div--content-wrap {
    display: flex;
    flex-direction: row;
    position: relative;
    height: fit-content;
    width: fit-content;
  }
  &__div--club-create-modal {
    position: fixed;
    display: flex;
    flex-direction: row;
    width: 500px;
    height: 600px;
    left: 50%;
    top: 50%;
    z-index: 2;
    border-radius: 0.5em;
    background-color: white;
    transform: translate(-50%, -50%);
    justify-content: space-evenly;
    align-items: center;
  }

  &__div--modify {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    height: 500px;
    margin-top: 50px;

    &-submit {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      font-size: 20px;
      color: white;
      font-weight: bold;
      margin-top: 50px;
      width: 206px;
      height: 35px;
      text-align: center;
      left: 50%;
      transform: translateX(-50%);
      background-color: lightgray;

      cursor: pointer;
    }
  }

  &__text {
    position: relative;
    font-weight: bold;
    font-size: 15px;
    left: 144px;
    margin-bottom: 5px;
    font-family: Dotum;

    &area {
      position: relative;
      width: 150px;
      font-size: 15px;
      border: 1px solid lightgray;
      left: 50%;
      transform: translateX(-50%);
      width: 200px;
      height: 59px;
      margin-bottom: 10px;
    }

    &area:focus {
      outline: none;
      border: 2px solid gray;
    }

    &--current-password,
    &--new-password,
    &--new-password-check {
      position: relative;
      left: 20%;
      margin-top: 15px;
    }

    &--introduction {
      position: relative;
      margin-top: 15px;
      left: 19%;
    }

    &--title {
      width: 200px;
      height: 10px;
      font-family: Dotum;
      font-weight: bold;
      position: relative;
      left: 50%;
      font-size: 35px;
      transform: translateX(-50%);
      top: -50px;
      margin-bottom: 20px;
    }
  }

  &__Input {
    width: 200px;
    height: 40px;
    font-size: 15px;
    position: relative;
    margin-bottom: 10px;
    border: 1px solid lightgray;
    left: 50%;
    transform: translateX(-50%);

    &:focus {
      outline: none;
      border: 2px solid gray;
    }

    &--category {
      position: relative;
      width: 120px;
      left: 145px;
      margin-bottom: 15px;
    }
  }

  &__input {
    &--introduction {
      position: relative;
      width: 300px;
      height: 300px;
      left: 20%;
      resize: none;
    }

    &--file {
      visibility: hidden;
    }
  }

  &__button {
    &--club-create {
      position: relative;
      font-size: 25px;
      width: 150px;
      height: 50px;
      top: 14px;
      cursor: pointer;
    }
  }

  &__label {
    &--file {
      position: relative;
      bottom: 10px;
      display: flex;
      border-radius: 0.25rem;
      justify-content: center;
      align-items: center;
      color: $semi-white;
      font-weight: bold;
      width: 110px;
      height: 30px;
      background-color: $navyblue;
      left: 146px;
      top: -20px;

      cursor: pointer;
    }
  }
}

.blur {
  position: fixed;
  top: 0;
  right: 0;
  background-color: black;
  top: 0px;
  opacity: 0.55;
  height: 100vh;
  width: 100vw;
  z-index: 1;
  filter: blur(5px);
}

.blur2 {
  position: absolute;
  background-color: black;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.55;
  height: 117vh;
  width: 100vw;
  z-index: 1;
  filter: blur(5px);
}

div[class*='submit-button'] {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 20px;
  color: white;
  font-weight: bold;
  margin-top: 50px;
  width: 160px;
  height: 35px;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  background-color: lightgray;

  cursor: pointer;
}
