@import '../../../stylesheets//palette.scss';

.ClubPage {
  font-family: 'Inter', 'Helvetica Neue', Helvetica, Arial, sans-serif;

  &-navigateBar {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 25px;
    margin-top: 10px;
    justify-content: space-evenly;
    &-information,
    &-board,
    &-photo,
    &-chat {
      font-family: 'Inter', 'Helvetica Neue', Helvetica, Arial, sans-serif;
      font-size: 20px;
      color: #3c4c5b;
      font-weight: bold;
      width: 100px;
      height: 30px;
      position: relative;
      text-align: center;
      border: 2px solid transparent;
      cursor: pointer;
    }

    &-information-active,
    &-board-active,
    &-photo-acitve,
    &-chat-acitve {
      font-family: 'Inter', 'Helvetica Neue', Helvetica, Arial, sans-serif;
      font-size: 20px;
      color: black;
      font-weight: bold;
      width: 100px;
      height: 33px;
      position: relative;
      text-align: center;
      border-bottom: 2px solid black;
      cursor: pointer;
    }

    &-information:hover,
    &-board:hover,
    &-photo:hover,
    &-chat:hover {
      border-bottom-color: #3c4c5b;
      transition: border-color 0.3s;
    }
  }

  &-middleFrame {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

  .horizon {
    position: relative;
    width: 100vw;
    margin-top: -10px;
  }

  &-thumbnail {
    position: relative;
    width: 500px;
    height: 500px;
  }

  &-description {
    position: relative;
    width: 300px;
    height: 300px;
  }

  &-signIn,
  &-sign-done,
  &-sign-wait {
    font-size: 16px;
    width: 200px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    color: rgb(255, 255, 255);
    text-align: center;
    line-height: 2.5em;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: rgb(52, 152, 219);
    cursor: pointer;
  }

  &-signIn:hover {
    background-color: blue;
  }

  &-postBox {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 600px;
    height: fit-content;
  }

  &__span {
    &--index-ID {
      position: relative;
    }

    &--index-Title {
      position: relative;
      margin-left: 100px;
    }

    &--index-Submitter {
      position: relative;
      margin-left: 100px;
    }

    &--post-ID {
      position: relative;
    }

    &--post-Title {
      position: relative;
      margin-left: 100px;
      cursor: pointer;
    }

    &--post-Submitter {
      position: relative;
      margin-left: 100px;
    }
  }

  &__div {
    &--submit-frame {
      display: flex;
      flex-direction: row;
    }

    &--all-comment {
      width: 100%;
      height: fit-content;
    }

    &--comment-frame {
      width: 100%;
      height: fit-content;
      border: 1px solid black;
      border-radius: 0.25rem;
      margin-bottom: 5px;
    }

    &--index {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      font-weight: bold;
    }

    &--write-wrap {
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      width: 500px;
      height: 500px;
    }
  }

  &__input {
    &--write-title {
      width: 413px;
    }
  }

  &__button {
    &--submit {
      display: flex;
      font-weight: bold;
      height: 71px;
      width: 68px;
      margin-left: 13px;
      border: 1px solid black;
      justify-content: center;
      align-items: center;
      border-radius: 0.25rem;
      cursor: pointer;
    }

    &--post-button {
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100px;
      height: 35px;
      background-color: $navyblue;
      border-radius: 0.25rem;
      color: $semi-white;
      font-weight: bold;
      cursor: pointer;
    }

    &--submit-post {
      position: relative;
      top: 20px;
      left: 73%;
      display: flex;
      background-color: $navyblue;
      justify-content: center;
      align-items: center;
      border-radius: 0.25rem;
      color: $semi-white;
      width: 100px;
      height: 30px;
      cursor: pointer;
    }
  }

  &__text {
    &--title {
      font-size: 30px;
      margin-bottom: 50px;
    }

    &--post-writer {
      font-size: 15px;
      position: relative;
      left: 60%;
    }

    &--comment {
      margin-top: 50px;

      &-nickname {
        position: relative;
        font-size: 14px;
        margin-top: 8px;
        font-weight: bold;
        margin-bottom: 10px;
        left: 2%;
      }

      &-content {
        position: relative;
        margin-bottom: 8px;
        font-size: 14px;
        left: 2%;
      }
    }
  }

  &__hr {
    &--under-comment {
      position: relative;
      top: -7px;
    }
    &--index {
      height: 1px;
      background-color: black;
    }
  }

  &__textarea {
    &--submit-comment {
      width: 511px;
      height: 67px;
      resize: none;
    }

    &--write-area {
      position: relative;
      top: 10px;
      resize: none;
      width: 460px;
      height: 300px;
    }
  }

  &-boardStuff {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    height: 20px;
  }
}

.ManagementBoard {
  position: relative;
  display: flex;
  justify-content: center;
  &__div {
    &--wrap {
      position: relative;
      display: flex;
      justify-content: center;
      flex-direction: row;
      width: 700px;
      height: 600px;
      border: 2px solid lightgray;
      border-radius: 0.25rem;
    }

    &--category-wrap {
      position: relative;
      top: 20px;
      left: 20px;
      height: fit-content;
      width: 150px;
      display: flex;
      flex-direction: column;
    }

    &--setting-category {
      display: flex;
      flex-direction: row;
      justify-content: left;
      align-items: center;
      font-size: 18px;
      margin-bottom: 15px;
      padding-left: 5px;
      width: 100px;
      height: 30px;
      border-radius: 0.25rem;
      cursor: pointer;
    }

    &--setting-category-selected {
      display: flex;
      flex-direction: row;
      justify-content: left;
      align-items: center;
      font-size: 18px;
      margin-bottom: 15px;
      padding-left: 5px;
      width: 100px;
      height: 30px;
      border-radius: 0.25rem;
      color: $whitegray;
      font-weight: bold;
      background-color: lightgrey;
    }

    &--setting-category:hover {
      color: $whitegray;
      font-weight: bold;
      background-color: lightgrey;
    }
  }
}

input[class*='input'] {
  width: 140px;
  height: 25px;
}

.ClubSetting {
  &__div {
    &--wrap {
      width: 500px;
      height: 100%;
      display: flex;
      flex-direction: column;
    }

    &--member-manage-wrap {
      width: 500px;
      height: 600px;
    }

    &--accept-wrap::-webkit-scrollbar {
      width: 6px;
      height: 0px;
    }
    &--accept-wrap::-webkit-scrollbar-thumb {
      background-color: #dfdfdf;
      border-radius: 10px;
    }
    &--accept-wrap::-webkit-scrollbar-track {
      background-color: rgba(0, 0, 0, 0.4);
      border-radius: 10px;
    }

    &--accept-item-wrap {
      position: relative;
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 100%;
      height: 30px;
      margin-top: 15px;
    }

    &--accept-wrap {
      position: relative;
      border-radius: 0.25rem;
      overflow: scroll;
      width: 400px;
      height: 400px;
      border: 2px solid lightgray;
    }
  }

  &__input {
    &--file {
      visibility: hidden;
    }

    &--introduction {
      width: 200px;
      height: 100px;
    }
  }

  &__label {
    &--file {
      position: relative;
      bottom: 10px;
      margin-left: -23px;
      display: flex;
      border-radius: 0.25rem;
      justify-content: center;
      align-items: center;
      color: $semi-white;
      font-weight: bold;
      width: 110px;
      height: 30px;
      background-color: $navyblue;
      left: 6%;

      cursor: pointer;
    }
  }

  &__span {
    &--accept {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $navyblue;
      color: white;
      font-size: 20px;
      font-weight: bold;
      width: 50px;
      left: 71%;
      height: 40px;
      border-radius: 0.5rem;
      cursor: pointer;
    }

    &--deny {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: lightgray;
      color: white;
      font-size: 20px;
      font-weight: bold;
      width: 50px;
      left: 85%;
      height: 42px;
      border-radius: 0.5rem;
      cursor: pointer;
    }

    &--nonmember-name {
      position: relative;
      left: 10px;
    }
  }

  &__hr {
    &--horizon {
      position: relative;
      width: 370px;
      margin-right: 30px;
    }
  }

  &__text {
    &--title {
      margin-top: 20px;
      font-size: 25px;
      font-weight: bold;
    }
  }
}

.MemberManagement {
  &__span {
    &--delegate-wrap {
      position: relative;
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    &--position {
      position: relative;
      left: 10px;
      width: fit-content;
      font-weight: bold;
    }
    &--nickname {
      position: relative;
      left: 20px;
    }

    &--modify-position {
      position: absolute;
      display: flex;

      align-items: center;
      justify-content: center;
      background-color: $navyblue;
      color: white;
      font-size: 12px;
      font-weight: bold;
      width: 50px;
      left: 71%;
      height: 43px;
      border-radius: 0.5rem;
      cursor: pointer;
    }
  }

  &__div {
    &--position-modify-modal {
      position: fixed;
      display: flex;
      flex-direction: column;
      width: 350px;
      height: 300px;
      left: 50%;
      top: 50%;
      z-index: 2;
      border-radius: 0.5em;
      background-color: white;
      transform: translate(-50%, -50%);
      justify-content: space-evenly;
      align-items: center;
    }
  }

  &__text {
    &--notice {
      position: relative;

      font-weight: bold;
    }
  }

  &__button {
    &--delegation {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100px;
      height: 50px;
      border: solid 1px gray;
      border-radius: 0.25rem;
      cursor: pointer;
    }

    &--delegation:hover {
      background-color: gray;
      color: $semi-white;
      font-weight: bold;
      border: 0cm;
      transition: background-color 0.5s;
    }
  }
}

.Information {
  &__button {
    &--edit-button {
      display: flex;
      left: 50%;
      transform: translateX(-50%);
      flex-direction: row;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 80px;
      height: 30px;
      border: solid 2px $navyblue;
      border-radius: 0.25rem;
      cursor: pointer;
    }

    &--edit-button:hover {
      font-size: 20px;
    }
  }

  &__img {
    &--edit-button {
      width: 20px;
      height: 20px;
      padding-right: 5px;
    }
  }

  &__file {
    &--edit-thumbnail {
      display: none;
    }
  }
}

.DeleteClub {
  &__button {
    &--delete-club {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 200px;
      height: 100px;
      border: 1px solid lightgray;
      box-shadow: 2px 2px 5px 1.5px rgba(0, 0, 0, 0.2);
      border-radius: 0.5em;
      cursor: pointer;
      transition: background-color 0.5s;
    }

    &--delete-club:hover {
      background-color: lightgray;
      font-weight: bold;

      color: $white;
    }
  }
}

.vertical-line {
  margin-top: 26px;
  margin-right: 40px;
  border-left: 2px solid lightgray;
  height: 90%;
}
