@import '../../../stylesheets//palette.scss';

.ClubPage {
  &-postBox {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 600px;
    height: fit-content;
  }

  &__span {
    &--index-ID {
      position: relative;
    }

    &--index-Title {
      position: relative;
      margin-left: 100px;
    }

    &--index-Submitter {
      position: relative;
      margin-left: 100px;
    }

    &--post-ID {
      position: relative;
    }

    &--post-Title {
      position: relative;
      margin-left: 100px;
      cursor: pointer;
    }

    &--post-Submitter {
      position: relative;
      margin-left: 100px;
    }
  }

  &__div {
    &--submit-frame {
      display: flex;
      flex-direction: row;
    }

    &--all-comment {
      width: 100%;
      height: fit-content;
    }

    &--comment-frame {
      width: 100%;
      height: fit-content;
      border: 1px solid black;
      border-radius: 0.25rem;
      margin-bottom: 5px;
    }

    &--index {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      font-weight: bold;
    }

    &--write-wrap {
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      width: 500px;
      height: 500px;
    }
  }

  &__input {
    &--write-title {
      width: 413px;
    }
  }

  &__button {
    &--submit {
      display: flex;
      font-weight: bold;
      height: 71px;
      width: 68px;
      margin-left: 13px;
      border: 1px solid black;
      justify-content: center;
      align-items: center;
      border-radius: 0.25rem;
      cursor: pointer;
    }

    &--post-button {
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100px;
      height: 35px;
      background-color: $navyblue;
      border-radius: 0.25rem;
      color: $semi-white;
      font-weight: bold;
      cursor: pointer;
    }

    &--submit-post {
      position: relative;
      top: 20px;
      left: 73%;
      display: flex;
      background-color: $navyblue;
      justify-content: center;
      align-items: center;
      border-radius: 0.25rem;
      color: $semi-white;
      width: 100px;
      height: 30px;
    }
  }

  &__text {
    &--title {
      font-size: 30px;
      margin-bottom: 50px;
    }
    &--comment {
      margin-top: 50px;

      &-nickname {
        position: relative;
        font-size: 14px;
        margin-top: 8px;
        font-weight: bold;
        margin-bottom: 10px;
        left: 2%;
      }

      &-content {
        position: relative;
        margin-bottom: 8px;
        font-size: 14px;
        left: 2%;
      }
    }
  }

  &__hr {
    &--under-comment {
      position: relative;
      top: -7px;
    }
    &--index {
      height: 1px;
      background-color: black;
    }
  }

  &__textarea {
    &--submit-comment {
      width: 511px;
      height: 67px;
      resize: none;
    }

    &--write-area {
      position: relative;
      top: 10px;
      resize: none;
      width: 460px;
      height: 300px;
    }
  }

  &-boardStuff {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    height: 20px;
  }
}

.ManagementBoard {
  &__div {
    &--wrap {
      position: relative;
      display: flex;
      flex-direction: row;
      width: 500px;
      height: 500px;
      left: 50%;
      transform: translateX(-50%);
      border: 2px solid lightgray;
      border-radius: 0.25rem;
    }

    &--category-wrap {
      height: fit-content;
      width: 150px;
      display: flex;
      flex-direction: column;
    }
  }
}

input[class*='input'] {
  width: 140px;
  height: 25px;
}

.ClubSetting {
  &__div {
    &--wrap {
      width: 500px;
      height: 100%;
      display: flex;
      flex-direction: column;
    }

    &--member-manage-wrap {
      width: 100%;
      height: 100%;
    }

    &--accept-wrap::-webkit-scrollbar {
      width: 6px;
      height: 0px;
    }
    &--accept-wrap::-webkit-scrollbar-thumb {
      background-color: #dfdfdf;
      border-radius: 10px;
    }
    &--accept-wrap::-webkit-scrollbar-track {
      background-color: rgba(0, 0, 0, 0.4);
      border-radius: 10px;
    }

    &--accept-item-wrap {
      position: relative;
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 100%;
      height: 30px;
      margin-top: 15px;
    }

    &--accept-wrap {
      position: relative;

      overflow: scroll;
      width: 400px;
      height: 400px;
      border: 1px solid black;
    }
  }

  &__input {
    &--file {
      visibility: hidden;
    }

    &--introduction {
      width: 200px;
      height: 100px;
    }
  }

  &__label {
    &--file {
      position: relative;
      bottom: 10px;
      margin-left: -23px;
      display: flex;
      border-radius: 0.25rem;
      justify-content: center;
      align-items: center;
      color: $semi-white;
      font-weight: bold;
      width: 110px;
      height: 30px;
      background-color: $navyblue;
      left: 6%;

      cursor: pointer;
    }
  }

  &__span {
    &--accept {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $navyblue;
      color: white;
      font-size: 20px;
      font-weight: bold;
      width: 50px;
      left: 67%;
      height: 40px;
      border-radius: 0.5rem;
    }

    &--deny {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: lightgray;
      color: white;
      font-size: 20px;
      font-weight: bold;
      width: 50px;
      left: 85%;
      height: 40px;
      border-radius: 0.5rem;
    }
  }

  &__hr {
    &--horizon {
      position: relative;
      width: 370px;
      margin-right: 30px;
    }
  }
}
