@import '../../../stylesheets/palette.scss';

.loginPage {
  &-loginBox {
    width: 500px;
    height: 500px;
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: 40px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    &-signLogin {
      display: flex;
      width: 200px;
      height: 30px;
      flex-direction: row;
      justify-content: space-around;

      &-signUp {
        display: none;
      }

      &-login {
        display: none;
      }

      &-signLabel {
        font-size: 20px;
        width: 80px;
        height: 30px;
        cursor: pointer;
      }
      &-loginLabel {
        font-size: 20px;
        width: 80px;
        height: 30px;
        cursor: pointer;
      }
    }

    &-id {
      margin-top: 20px;
      margin-bottom: -40px;
      height: 20px;
      border-radius: 0.5rem;
      border-width: 3px;
    }

    &-pw {
      height: 20px;
      border-radius: 0.5rem;
      border-width: 3px;
    }
  }

  &-signUpModal {
    position: absolute;
    color: black;
    display: flex;

    border-radius: 0.25rem;
    flex-direction: column;
    justify-content: space-evenly;
    width: 400px;
    height: 800px;
    left: 50%;
    top: 50%;
    background-color: white;
    transform: translate(-50%, -50%);
    z-index: 3;
  }
}

.SignUpModal {
  font-family: Dotum;

  &__button {
    &--submit {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      font-size: 20px;
      color: white;
      font-weight: bold;
      margin-top: 20px;
      width: 206px;
      height: 35px;
      text-align: center;
      left: 50%;
      transform: translateX(-50%);
      background-color: lightgray;
      cursor: pointer;
    }
  }

  &__text {
    position: relative;
    font-weight: bold;
    font-size: 15px;
    left: 95px;
    margin-bottom: -10px;
    font-family: Dotum;

    &--logo {
      position: relative;
      text-align: center;
      width: 100px;
      height: 50px;
      font-size: 30px;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__label {
    &--profile {
      position: relative;
      bottom: 10px;
      margin-left: -23px;
      display: flex;
      border-radius: 0.25rem;
      justify-content: center;
      align-items: center;
      color: $semi-white;
      font-weight: bold;
      width: 110px;
      height: 30px;
      background-color: $navyblue;
      top: 1px;
      left: 119px;

      cursor: pointer;
    }
  }

  &__textarea {
    &--introduction {
      font-family: 'Noto Sans KR', sans-serif;
      position: relative;
      width: 150px;
      font-size: 15px;
      border: 1px solid lightgray;
      left: 50%;
      transform: translateX(-50%);
      width: 200px;
      height: 59px;
    }

    &--introduction:focus {
      outline: none;
      border: 2px solid gray;
    }
  }

  &__Input {
    width: 200px;
    height: 40px;
    font-size: 15px;
    position: relative;
    border: 1px solid lightgray;
    font-family: 'Noto Sans KR', sans-serif;
    left: 50%;
    transform: translateX(-50%);

    &--profile {
      display: none;
    }
  }

  &__Input:focus {
    outline: none;
    border: 2px solid gray;
  }
}
