@import '../../../stylesheets//palette.scss';

.MainInformation {
  position: relative;
  height: 800px;
  width: 400px;
  border: 2px solid $grayblue;
  border-radius: 0.25rem;
  left: 20px;
  overflow: scroll;
  justify-content: center;
  align-items: center;

  &::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #dfdfdf;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
  }
}

.MainBody {
  font-family: 'Jua', Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: center;

  &-mainInformation-title {
    width: 370px;
  }

  &-noResult {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: 'Noto Sans KR', sans-serif;
    width: fit-content;
    height: fit-content;
    position: relative;
    font-size: 50px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &-itemFrame {
    position: relative;
    height: 800px;
    width: 767px;
    border-radius: 0.25rem;
    overflow: scroll;
    justify-content: center;
    align-items: center;

    &-blackCover {
      position: relative;
      display: flex;
      color: #fff;
      align-items: center;
      flex-direction: row;
      background-color: rgba(0, 0, 0, 0.3);
      width: 100%;
      height: 100%;
    }

    &-clubItem {
      position: relative;
      display: flex;
      color: $whitegray;
      align-items: center;
      flex-direction: row;
      width: 719px;
      height: 261px;
      left: 50%;
      transform: translateX(-50%);
      animation: fadein 0.3s;
      margin-top: 10px;
      margin-bottom: 30px;

      background-color: $semi-white;
      box-shadow: 2px 2px 5px 0px slategrey;
      cursor: pointer;

      @keyframes fadein {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }

      &-right {
        position: relative;
      }

      &-title {
        position: absolute;
        top: 20px;
        font-size: 30px;
      }

      &-description {
        position: relative;
        left: 2px;
        width: 300px;
      }

      &-member {
        position: relative;
        left: 2px;
        top: 20px;
        width: 300px;
      }

      &-address {
        position: absolute;
        bottom: 10px;
        left: 520px;
        width: 300px;
      }
    }
  }

  &-itemFrame::-webkit-scrollbar {
    width: 4px;
    height: 0px;
  }
  &-itemFrame::-webkit-scrollbar-thumb {
    background-color: #dfdfdf;
    border-radius: 10px;
  }
  &-itemFrame::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
  }

  &-horizon {
    border: 1px solid #e1e6ec !important;
  }

  &-CategoryFrame {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 50px;
    margin-bottom: -10px;
    justify-content: center;
  }

  &__div {
    &--category-frame-active {
      position: relative;
      display: flex;
      justify-content: center;
      border-bottom: 2px solid black;
      overflow-wrap: normal;
      width: 80px;
      margin-right: -18px;
      left: 10px;
      height: 47px;
    }

    &--category-frame {
      position: relative;
      display: flex;
      justify-content: center;
      border-bottom: 2px solid transparent;
      overflow-wrap: normal;
      width: 80px;
      height: 47px;
      margin-right: -18px;
      left: 10px;
    }

    &--category-box {
      display: flex;
      justify-content: center;
      position: absolute;
      align-items: center;
      width: 115px;
      height: 40px;
      color: white;
      border-radius: 1.5rem;
      cursor: pointer;
      color: #3c4c5b;
      border-color: #e1e6ec;
      font-family: 'Inter', 'Helvetica Neue', Helvetica, Arial, sans-serif;
      font-weight: bold;
      font-size: 0.875rem;
    }

    &--category-frame:hover {
      position: relative;
      display: flex;
      justify-content: center;
      border-bottom-color: #3c4c5b;

      transition: border-color 0.3s;
      overflow-wrap: normal;
      width: 80px;
      height: 47px;
    }

    &--category-box:hover {
      font-weight: bold;
      color: black;
    }
  }
}
