@import '../../../stylesheets//palette.scss';

.MainBody {
  font-family: 'Jua', Arial, Helvetica, sans-serif;

  &-CategoryFrame {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 50px;
    margin-bottom: -10px;
    justify-content: center;
  }

  &__div {
    &--category-box {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 115px;
      height: 40px;
      color: white;
      border-radius: 0.5rem;
      margin-right: 10px;
      background-color: $navyblue;
      cursor: pointer;
    }

    &--category-box:hover {
      font-weight: bold;
      color: black;
    }
  }
}
